/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    outdir = null
    version = {
        def lines = java.nio.file.Files.readAllLines(
            java.nio.file.Paths.get("${projectDir}/../../build.gradle"),
            java.nio.charset.StandardCharsets.UTF_8);
        return lines
            .find { line -> line.startsWith('version = ')}
            .toString()
            .replace('version = \'', '')
            .replace('\'', '')
    }.call()
}

plugins {
    id "nf-cmgg@${params.version}"
}

outputDir = params.outdir

cmgg {
    samplesheets {
        enabled = true
        location = "${params.outdir}/samplesheets"
    }
    done {
        enabled = true
    }
}