manifest {
    name            = 'nf-cmgg/preprocessing'
    homePage        = 'https://github.com/nf-cmgg/preprocessing'
    description     = """Demultiplexing, adapter trimming, alignment, and coverage calculation for NGS data."""
    version         = 'mock'
}

params.input = "${projectDir}/input.yaml"
params.data = "${projectDir}/test-data"